TRACING_AGENT_HOST=localhost
TRACING_AGENT_PORT=6799

CONNECTION_STRINGS="Server=localhost,1433;Database=MvcMovieContext;User Id=myuser;Password=mypassword;MultipleActiveResultSets=true;Encrypt=False;TrustServerCertificate=True"